<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>Delta</key>
  <string>D_elta.glif</string>
  <key>_blackCircledComp</key>
  <string>_blackC_ircledC_omp.glif</string>
  <key>_circleblack</key>
  <string>_circleblack.glif</string>
  <key>_circledComp</key>
  <string>_circledC_omp.glif</string>
  <key>_circlewhite</key>
  <string>_circlewhite.glif</string>
  <key>_eight</key>
  <string>_eight.glif</string>
  <key>_eightdouble</key>
  <string>_eightdouble.glif</string>
  <key>_five</key>
  <string>_five.glif</string>
  <key>_fivedouble</key>
  <string>_fivedouble.glif</string>
  <key>_four</key>
  <string>_four.glif</string>
  <key>_fourdouble</key>
  <string>_fourdouble.glif</string>
  <key>_nine</key>
  <string>_nine.glif</string>
  <key>_ninedouble</key>
  <string>_ninedouble.glif</string>
  <key>_one</key>
  <string>_one.glif</string>
  <key>_onedouble</key>
  <string>_onedouble.glif</string>
  <key>_seven</key>
  <string>_seven.glif</string>
  <key>_sevendouble</key>
  <string>_sevendouble.glif</string>
  <key>_six</key>
  <string>_six.glif</string>
  <key>_sixdouble</key>
  <string>_sixdouble.glif</string>
  <key>_three</key>
  <string>_three.glif</string>
  <key>_threedouble</key>
  <string>_threedouble.glif</string>
  <key>_two</key>
  <string>_two.glif</string>
  <key>_twodouble</key>
  <string>_twodouble.glif</string>
  <key>_zero</key>
  <string>_zero.glif</string>
  <key>_zerodouble</key>
  <string>_zerodouble.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>blackFourPointedStar</key>
  <string>blackF_ourP_ointedS_tar.glif</string>
  <key>blackstar</key>
  <string>blackstar.glif</string>
  <key>bottomLeftCorner</key>
  <string>bottomL_eftC_orner.glif</string>
  <key>bottomRightCorner</key>
  <string>bottomR_ightC_orner.glif</string>
  <key>bottomleftHalfBracket</key>
  <string>bottomleftH_alfB_racket.glif</string>
  <key>bottomrightHalfBracket</key>
  <string>bottomrightH_alfB_racket.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>circledblack0</key>
  <string>circledblack0.glif</string>
  <key>circledblack1</key>
  <string>circledblack1.glif</string>
  <key>circledblack2</key>
  <string>circledblack2.glif</string>
  <key>circledblack3</key>
  <string>circledblack3.glif</string>
  <key>circledblack4</key>
  <string>circledblack4.glif</string>
  <key>circledblack5</key>
  <string>circledblack5.glif</string>
  <key>circledblack6</key>
  <string>circledblack6.glif</string>
  <key>circledblack7</key>
  <string>circledblack7.glif</string>
  <key>circledblack8</key>
  <string>circledblack8.glif</string>
  <key>circledblack9</key>
  <string>circledblack9.glif</string>
  <key>circledwhite0</key>
  <string>circledwhite0.glif</string>
  <key>circledwhite00</key>
  <string>circledwhite00.glif</string>
  <key>circledwhite1</key>
  <string>circledwhite1.glif</string>
  <key>circledwhite10</key>
  <string>circledwhite10.glif</string>
  <key>circledwhite11</key>
  <string>circledwhite11.glif</string>
  <key>circledwhite12</key>
  <string>circledwhite12.glif</string>
  <key>circledwhite13</key>
  <string>circledwhite13.glif</string>
  <key>circledwhite14</key>
  <string>circledwhite14.glif</string>
  <key>circledwhite15</key>
  <string>circledwhite15.glif</string>
  <key>circledwhite16</key>
  <string>circledwhite16.glif</string>
  <key>circledwhite17</key>
  <string>circledwhite17.glif</string>
  <key>circledwhite18</key>
  <string>circledwhite18.glif</string>
  <key>circledwhite19</key>
  <string>circledwhite19.glif</string>
  <key>circledwhite2</key>
  <string>circledwhite2.glif</string>
  <key>circledwhite20</key>
  <string>circledwhite20.glif</string>
  <key>circledwhite21</key>
  <string>circledwhite21.glif</string>
  <key>circledwhite22</key>
  <string>circledwhite22.glif</string>
  <key>circledwhite23</key>
  <string>circledwhite23.glif</string>
  <key>circledwhite24</key>
  <string>circledwhite24.glif</string>
  <key>circledwhite25</key>
  <string>circledwhite25.glif</string>
  <key>circledwhite26</key>
  <string>circledwhite26.glif</string>
  <key>circledwhite27</key>
  <string>circledwhite27.glif</string>
  <key>circledwhite28</key>
  <string>circledwhite28.glif</string>
  <key>circledwhite29</key>
  <string>circledwhite29.glif</string>
  <key>circledwhite3</key>
  <string>circledwhite3.glif</string>
  <key>circledwhite30</key>
  <string>circledwhite30.glif</string>
  <key>circledwhite31</key>
  <string>circledwhite31.glif</string>
  <key>circledwhite32</key>
  <string>circledwhite32.glif</string>
  <key>circledwhite33</key>
  <string>circledwhite33.glif</string>
  <key>circledwhite34</key>
  <string>circledwhite34.glif</string>
  <key>circledwhite35</key>
  <string>circledwhite35.glif</string>
  <key>circledwhite36</key>
  <string>circledwhite36.glif</string>
  <key>circledwhite37</key>
  <string>circledwhite37.glif</string>
  <key>circledwhite38</key>
  <string>circledwhite38.glif</string>
  <key>circledwhite39</key>
  <string>circledwhite39.glif</string>
  <key>circledwhite4</key>
  <string>circledwhite4.glif</string>
  <key>circledwhite40</key>
  <string>circledwhite40.glif</string>
  <key>circledwhite41</key>
  <string>circledwhite41.glif</string>
  <key>circledwhite42</key>
  <string>circledwhite42.glif</string>
  <key>circledwhite43</key>
  <string>circledwhite43.glif</string>
  <key>circledwhite44</key>
  <string>circledwhite44.glif</string>
  <key>circledwhite45</key>
  <string>circledwhite45.glif</string>
  <key>circledwhite46</key>
  <string>circledwhite46.glif</string>
  <key>circledwhite47</key>
  <string>circledwhite47.glif</string>
  <key>circledwhite48</key>
  <string>circledwhite48.glif</string>
  <key>circledwhite49</key>
  <string>circledwhite49.glif</string>
  <key>circledwhite5</key>
  <string>circledwhite5.glif</string>
  <key>circledwhite50</key>
  <string>circledwhite50.glif</string>
  <key>circledwhite51</key>
  <string>circledwhite51.glif</string>
  <key>circledwhite52</key>
  <string>circledwhite52.glif</string>
  <key>circledwhite53</key>
  <string>circledwhite53.glif</string>
  <key>circledwhite54</key>
  <string>circledwhite54.glif</string>
  <key>circledwhite55</key>
  <string>circledwhite55.glif</string>
  <key>circledwhite56</key>
  <string>circledwhite56.glif</string>
  <key>circledwhite57</key>
  <string>circledwhite57.glif</string>
  <key>circledwhite58</key>
  <string>circledwhite58.glif</string>
  <key>circledwhite59</key>
  <string>circledwhite59.glif</string>
  <key>circledwhite6</key>
  <string>circledwhite6.glif</string>
  <key>circledwhite60</key>
  <string>circledwhite60.glif</string>
  <key>circledwhite61</key>
  <string>circledwhite61.glif</string>
  <key>circledwhite62</key>
  <string>circledwhite62.glif</string>
  <key>circledwhite63</key>
  <string>circledwhite63.glif</string>
  <key>circledwhite64</key>
  <string>circledwhite64.glif</string>
  <key>circledwhite65</key>
  <string>circledwhite65.glif</string>
  <key>circledwhite66</key>
  <string>circledwhite66.glif</string>
  <key>circledwhite67</key>
  <string>circledwhite67.glif</string>
  <key>circledwhite68</key>
  <string>circledwhite68.glif</string>
  <key>circledwhite69</key>
  <string>circledwhite69.glif</string>
  <key>circledwhite7</key>
  <string>circledwhite7.glif</string>
  <key>circledwhite70</key>
  <string>circledwhite70.glif</string>
  <key>circledwhite71</key>
  <string>circledwhite71.glif</string>
  <key>circledwhite72</key>
  <string>circledwhite72.glif</string>
  <key>circledwhite73</key>
  <string>circledwhite73.glif</string>
  <key>circledwhite74</key>
  <string>circledwhite74.glif</string>
  <key>circledwhite75</key>
  <string>circledwhite75.glif</string>
  <key>circledwhite76</key>
  <string>circledwhite76.glif</string>
  <key>circledwhite77</key>
  <string>circledwhite77.glif</string>
  <key>circledwhite78</key>
  <string>circledwhite78.glif</string>
  <key>circledwhite79</key>
  <string>circledwhite79.glif</string>
  <key>circledwhite8</key>
  <string>circledwhite8.glif</string>
  <key>circledwhite80</key>
  <string>circledwhite80.glif</string>
  <key>circledwhite81</key>
  <string>circledwhite81.glif</string>
  <key>circledwhite82</key>
  <string>circledwhite82.glif</string>
  <key>circledwhite83</key>
  <string>circledwhite83.glif</string>
  <key>circledwhite84</key>
  <string>circledwhite84.glif</string>
  <key>circledwhite85</key>
  <string>circledwhite85.glif</string>
  <key>circledwhite86</key>
  <string>circledwhite86.glif</string>
  <key>circledwhite87</key>
  <string>circledwhite87.glif</string>
  <key>circledwhite88</key>
  <string>circledwhite88.glif</string>
  <key>circledwhite89</key>
  <string>circledwhite89.glif</string>
  <key>circledwhite9</key>
  <string>circledwhite9.glif</string>
  <key>circledwhite90</key>
  <string>circledwhite90.glif</string>
  <key>circledwhite91</key>
  <string>circledwhite91.glif</string>
  <key>circledwhite92</key>
  <string>circledwhite92.glif</string>
  <key>circledwhite93</key>
  <string>circledwhite93.glif</string>
  <key>circledwhite94</key>
  <string>circledwhite94.glif</string>
  <key>circledwhite95</key>
  <string>circledwhite95.glif</string>
  <key>circledwhite96</key>
  <string>circledwhite96.glif</string>
  <key>circledwhite97</key>
  <string>circledwhite97.glif</string>
  <key>circledwhite98</key>
  <string>circledwhite98.glif</string>
  <key>circledwhite99</key>
  <string>circledwhite99.glif</string>
  <key>currency</key>
  <string>currency.glif</string>
  <key>dagger</key>
  <string>dagger.glif</string>
  <key>daggerdbl</key>
  <string>daggerdbl.glif</string>
  <key>eightPointedBlackStar</key>
  <string>eightP_ointedB_lackS_tar.glif</string>
  <key>eightblackcircle</key>
  <string>eightblackcircle.glif</string>
  <key>eightcircle</key>
  <string>eightcircle.glif</string>
  <key>eighteenblackcircle</key>
  <string>eighteenblackcircle.glif</string>
  <key>eighteencircle</key>
  <string>eighteencircle.glif</string>
  <key>elevenblackcircle</key>
  <string>elevenblackcircle.glif</string>
  <key>elevencircle</key>
  <string>elevencircle.glif</string>
  <key>fifteenblackcircle</key>
  <string>fifteenblackcircle.glif</string>
  <key>fifteencircle</key>
  <string>fifteencircle.glif</string>
  <key>fiveblackcircle</key>
  <string>fiveblackcircle.glif</string>
  <key>fivecircle</key>
  <string>fivecircle.glif</string>
  <key>fourBalloonSpokedAsterisk</key>
  <string>fourB_alloonS_pokedA_sterisk.glif</string>
  <key>fourblackcircle</key>
  <string>fourblackcircle.glif</string>
  <key>fourcircle</key>
  <string>fourcircle.glif</string>
  <key>fourteenblackcircle</key>
  <string>fourteenblackcircle.glif</string>
  <key>fourteencircle</key>
  <string>fourteencircle.glif</string>
  <key>fractioncircle</key>
  <string>fractioncircle.glif</string>
  <key>heavyEightPointedRectilinearBlackStar</key>
  <string>heavyE_ightP_ointedR_ectilinearB_lackS_tar.glif</string>
  <key>heavyFourBalloonSpokedAsterisk</key>
  <string>heavyF_ourB_alloonS_pokedA_sterisk.glif</string>
  <key>infinity</key>
  <string>infinity.glif</string>
  <key>leftCeiling</key>
  <string>leftC_eiling.glif</string>
  <key>leftFloor</key>
  <string>leftF_loor.glif</string>
  <key>lozenge</key>
  <string>lozenge.glif</string>
  <key>minuscircle</key>
  <string>minuscircle.glif</string>
  <key>multiplycircle</key>
  <string>multiplycircle.glif</string>
  <key>nabla</key>
  <string>nabla.glif</string>
  <key>nineblackcircle</key>
  <string>nineblackcircle.glif</string>
  <key>ninecircle</key>
  <string>ninecircle.glif</string>
  <key>nineteenblackcircle</key>
  <string>nineteenblackcircle.glif</string>
  <key>nineteencircle</key>
  <string>nineteencircle.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>oneblackcircle</key>
  <string>oneblackcircle.glif</string>
  <key>onecircle</key>
  <string>onecircle.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>periodcentered</key>
  <string>periodcentered.glif</string>
  <key>pinwheelStar</key>
  <string>pinwheelS_tar.glif</string>
  <key>pluscircle</key>
  <string>pluscircle.glif</string>
  <key>refasc</key>
  <string>refasc.glif</string>
  <key>refbox</key>
  <string>refbox.glif</string>
  <key>refdesc</key>
  <string>refdesc.glif</string>
  <key>referencemark</key>
  <string>referencemark.glif</string>
  <key>refuc</key>
  <string>refuc.glif</string>
  <key>rightCeiling</key>
  <string>rightC_eiling.glif</string>
  <key>rightFloor</key>
  <string>rightF_loor.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>sevenblackcircle</key>
  <string>sevenblackcircle.glif</string>
  <key>sevencircle</key>
  <string>sevencircle.glif</string>
  <key>seventeenblackcircle</key>
  <string>seventeenblackcircle.glif</string>
  <key>seventeencircle</key>
  <string>seventeencircle.glif</string>
  <key>sidebearingleft</key>
  <string>sidebearingleft.glif</string>
  <key>sidebearingright</key>
  <string>sidebearingright.glif</string>
  <key>sixPointedBlackStar</key>
  <string>sixP_ointedB_lackS_tar.glif</string>
  <key>sixblackcircle</key>
  <string>sixblackcircle.glif</string>
  <key>sixcircle</key>
  <string>sixcircle.glif</string>
  <key>sixteenblackcircle</key>
  <string>sixteenblackcircle.glif</string>
  <key>sixteencircle</key>
  <string>sixteencircle.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>teardropSpokedAsterisk</key>
  <string>teardropS_pokedA_sterisk.glif</string>
  <key>tenblackcircle</key>
  <string>tenblackcircle.glif</string>
  <key>tencircle</key>
  <string>tencircle.glif</string>
  <key>thirteenblackcircle</key>
  <string>thirteenblackcircle.glif</string>
  <key>thirteencircle</key>
  <string>thirteencircle.glif</string>
  <key>threeblackcircle</key>
  <string>threeblackcircle.glif</string>
  <key>threecircle</key>
  <string>threecircle.glif</string>
  <key>topLeftCorner</key>
  <string>topL_eftC_orner.glif</string>
  <key>topRightCorner</key>
  <string>topR_ightC_orner.glif</string>
  <key>topleftHalfBracket</key>
  <string>topleftH_alfB_racket.glif</string>
  <key>toprightHalfBracket</key>
  <string>toprightH_alfB_racket.glif</string>
  <key>triangularbullet</key>
  <string>triangularbullet.glif</string>
  <key>tripledagger</key>
  <string>tripledagger.glif</string>
  <key>twelveblackcircle</key>
  <string>twelveblackcircle.glif</string>
  <key>twelvecircle</key>
  <string>twelvecircle.glif</string>
  <key>twentyblackcircle</key>
  <string>twentyblackcircle.glif</string>
  <key>twentycircle</key>
  <string>twentycircle.glif</string>
  <key>twoblackcircle</key>
  <string>twoblackcircle.glif</string>
  <key>twocircle</key>
  <string>twocircle.glif</string>
  <key>whiteFourPointedStar</key>
  <string>whiteF_ourP_ointedS_tar.glif</string>
  <key>whiteXBlackDiamond</key>
  <string>whiteX_B_lackD_iamond.glif</string>
  <key>whitestar</key>
  <string>whitestar.glif</string>
  <key>whitestarcircle</key>
  <string>whitestarcircle.glif</string>
  <key>zeroblackcircle</key>
  <string>zeroblackcircle.glif</string>
</dict>
</plist>
