<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>Delta</key>
  <string>D_elta.glif</string>
  <key>_blackCircledComp</key>
  <string>_blackC_ircledC_omp.glif</string>
  <key>_circledComp</key>
  <string>_circledC_omp.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>blackFourPointedStar</key>
  <string>blackF_ourP_ointedS_tar.glif</string>
  <key>blackstar</key>
  <string>blackstar.glif</string>
  <key>bottomLeftCorner</key>
  <string>bottomL_eftC_orner.glif</string>
  <key>bottomRightCorner</key>
  <string>bottomR_ightC_orner.glif</string>
  <key>bottomleftHalfBracket</key>
  <string>bottomleftH_alfB_racket.glif</string>
  <key>bottomrightHalfBracket</key>
  <string>bottomrightH_alfB_racket.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>currency</key>
  <string>currency.glif</string>
  <key>dagger</key>
  <string>dagger.glif</string>
  <key>daggerdbl</key>
  <string>daggerdbl.glif</string>
  <key>eightPointedBlackStar</key>
  <string>eightP_ointedB_lackS_tar.glif</string>
  <key>eightblackcircle</key>
  <string>eightblackcircle.glif</string>
  <key>eightcircle</key>
  <string>eightcircle.glif</string>
  <key>eighteenblackcircle</key>
  <string>eighteenblackcircle.glif</string>
  <key>eighteencircle</key>
  <string>eighteencircle.glif</string>
  <key>elevenblackcircle</key>
  <string>elevenblackcircle.glif</string>
  <key>elevencircle</key>
  <string>elevencircle.glif</string>
  <key>fifteenblackcircle</key>
  <string>fifteenblackcircle.glif</string>
  <key>fifteencircle</key>
  <string>fifteencircle.glif</string>
  <key>fiveblackcircle</key>
  <string>fiveblackcircle.glif</string>
  <key>fivecircle</key>
  <string>fivecircle.glif</string>
  <key>fourBalloonSpokedAsterisk</key>
  <string>fourB_alloonS_pokedA_sterisk.glif</string>
  <key>fourblackcircle</key>
  <string>fourblackcircle.glif</string>
  <key>fourcircle</key>
  <string>fourcircle.glif</string>
  <key>fourteenblackcircle</key>
  <string>fourteenblackcircle.glif</string>
  <key>fourteencircle</key>
  <string>fourteencircle.glif</string>
  <key>fractioncircle</key>
  <string>fractioncircle.glif</string>
  <key>heavyEightPointedRectilinearBlackStar</key>
  <string>heavyE_ightP_ointedR_ectilinearB_lackS_tar.glif</string>
  <key>heavyFourBalloonSpokedAsterisk</key>
  <string>heavyF_ourB_alloonS_pokedA_sterisk.glif</string>
  <key>infinity</key>
  <string>infinity.glif</string>
  <key>leftFloor</key>
  <string>leftF_loor.glif</string>
  <key>lozenge</key>
  <string>lozenge.glif</string>
  <key>minuscircle</key>
  <string>minuscircle.glif</string>
  <key>multiplycircle</key>
  <string>multiplycircle.glif</string>
  <key>nabla</key>
  <string>nabla.glif</string>
  <key>nineblackcircle</key>
  <string>nineblackcircle.glif</string>
  <key>ninecircle</key>
  <string>ninecircle.glif</string>
  <key>nineteenblackcircle</key>
  <string>nineteenblackcircle.glif</string>
  <key>nineteencircle</key>
  <string>nineteencircle.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>oneblackcircle</key>
  <string>oneblackcircle.glif</string>
  <key>onecircle</key>
  <string>onecircle.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>periodcentered</key>
  <string>periodcentered.glif</string>
  <key>pinwheelStar</key>
  <string>pinwheelS_tar.glif</string>
  <key>pluscircle</key>
  <string>pluscircle.glif</string>
  <key>refasc</key>
  <string>refasc.glif</string>
  <key>refbox</key>
  <string>refbox.glif</string>
  <key>refdesc</key>
  <string>refdesc.glif</string>
  <key>referencemark</key>
  <string>referencemark.glif</string>
  <key>refuc</key>
  <string>refuc.glif</string>
  <key>rightFloor</key>
  <string>rightF_loor.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>sevenblackcircle</key>
  <string>sevenblackcircle.glif</string>
  <key>sevencircle</key>
  <string>sevencircle.glif</string>
  <key>seventeenblackcircle</key>
  <string>seventeenblackcircle.glif</string>
  <key>seventeencircle</key>
  <string>seventeencircle.glif</string>
  <key>sixPointedBlackStar</key>
  <string>sixP_ointedB_lackS_tar.glif</string>
  <key>sixblackcircle</key>
  <string>sixblackcircle.glif</string>
  <key>sixcircle</key>
  <string>sixcircle.glif</string>
  <key>sixteenblackcircle</key>
  <string>sixteenblackcircle.glif</string>
  <key>sixteencircle</key>
  <string>sixteencircle.glif</string>
  <key>teardropSpokedAsterisk</key>
  <string>teardropS_pokedA_sterisk.glif</string>
  <key>tenblackcircle</key>
  <string>tenblackcircle.glif</string>
  <key>tencircle</key>
  <string>tencircle.glif</string>
  <key>thirteenblackcircle</key>
  <string>thirteenblackcircle.glif</string>
  <key>thirteencircle</key>
  <string>thirteencircle.glif</string>
  <key>threeblackcircle</key>
  <string>threeblackcircle.glif</string>
  <key>threecircle</key>
  <string>threecircle.glif</string>
  <key>triangularbullet</key>
  <string>triangularbullet.glif</string>
  <key>tripledagger</key>
  <string>tripledagger.glif</string>
  <key>twelveblackcircle</key>
  <string>twelveblackcircle.glif</string>
  <key>twelvecircle</key>
  <string>twelvecircle.glif</string>
  <key>twentyblackcircle</key>
  <string>twentyblackcircle.glif</string>
  <key>twentycircle</key>
  <string>twentycircle.glif</string>
  <key>twoblackcircle</key>
  <string>twoblackcircle.glif</string>
  <key>twocircle</key>
  <string>twocircle.glif</string>
  <key>whiteFourPointedStar</key>
  <string>whiteF_ourP_ointedS_tar.glif</string>
  <key>whiteXBlackDiamond</key>
  <string>whiteX_B_lackD_iamond.glif</string>
  <key>whitestar</key>
  <string>whitestar.glif</string>
  <key>whitestarcircle</key>
  <string>whitestarcircle.glif</string>
  <key>zeroblackcircle</key>
  <string>zeroblackcircle.glif</string>
</dict>
</plist>
