<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.github.googlei18n.ufo2ft.featureWriters</key>
  <array>
    <dict>
      <key>class</key>
      <string>KernFeatureWriter</string>
    </dict>
    <dict>
      <key>class</key>
      <string>ContextualMarkFeatureWriter</string>
      <key>module</key>
      <string>glyphsLib.featureWriters.markFeatureWriter</string>
    </dict>
    <dict>
      <key>class</key>
      <string>GdefFeatureWriter</string>
    </dict>
    <dict>
      <key>class</key>
      <string>CursFeatureWriter</string>
    </dict>
  </array>
  <key>com.schriftgestaltung.Glyphs.fontUserData</key>
  <dict/>
  <key>com.schriftgestaltung.appVersion</key>
  <string>3337</string>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesLastChange</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
  <string/>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
  <integer>90</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
  <integer>100</integer>
  <key>com.schriftgestaltung.fontMasterOrder</key>
  <integer>1</integer>
  <key>com.schriftgestaltung.keyboardIncrement</key>
  <integer>1</integer>
  <key>com.schriftgestaltung.weight</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.weightValue</key>
  <integer>90</integer>
  <key>com.schriftgestaltung.width</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.widthValue</key>
  <integer>100</integer>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>numbersign</string>
    <string>asterisk</string>
    <string>currency</string>
    <string>section</string>
    <string>paragraph</string>
    <string>periodcentered</string>
    <string>Delta</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>bullet</string>
    <string>triangularbullet</string>
    <string>referencemark</string>
    <string>nabla</string>
    <string>infinity</string>
    <string>pluscircle</string>
    <string>minuscircle</string>
    <string>multiplycircle</string>
    <string>fractioncircle</string>
    <string>leftFloor</string>
    <string>rightFloor</string>
    <string>bottomLeftCorner</string>
    <string>bottomRightCorner</string>
    <string>onecircle</string>
    <string>twocircle</string>
    <string>threecircle</string>
    <string>fourcircle</string>
    <string>fivecircle</string>
    <string>sixcircle</string>
    <string>sevencircle</string>
    <string>eightcircle</string>
    <string>ninecircle</string>
    <string>tencircle</string>
    <string>elevencircle</string>
    <string>twelvecircle</string>
    <string>thirteencircle</string>
    <string>fourteencircle</string>
    <string>fifteencircle</string>
    <string>sixteencircle</string>
    <string>seventeencircle</string>
    <string>eighteencircle</string>
    <string>nineteencircle</string>
    <string>twentycircle</string>
    <string>elevenblackcircle</string>
    <string>twelveblackcircle</string>
    <string>thirteenblackcircle</string>
    <string>fourteenblackcircle</string>
    <string>fifteenblackcircle</string>
    <string>sixteenblackcircle</string>
    <string>seventeenblackcircle</string>
    <string>eighteenblackcircle</string>
    <string>nineteenblackcircle</string>
    <string>twentyblackcircle</string>
    <string>zeroblackcircle</string>
    <string>lozenge</string>
    <string>blackstar</string>
    <string>whitestar</string>
    <string>fourBalloonSpokedAsterisk</string>
    <string>heavyFourBalloonSpokedAsterisk</string>
    <string>blackFourPointedStar</string>
    <string>whiteFourPointedStar</string>
    <string>whitestarcircle</string>
    <string>pinwheelStar</string>
    <string>eightPointedBlackStar</string>
    <string>sixPointedBlackStar</string>
    <string>heavyEightPointedRectilinearBlackStar</string>
    <string>teardropSpokedAsterisk</string>
    <string>whiteXBlackDiamond</string>
    <string>oneblackcircle</string>
    <string>twoblackcircle</string>
    <string>threeblackcircle</string>
    <string>fourblackcircle</string>
    <string>fiveblackcircle</string>
    <string>sixblackcircle</string>
    <string>sevenblackcircle</string>
    <string>eightblackcircle</string>
    <string>nineblackcircle</string>
    <string>tenblackcircle</string>
    <string>bottomleftHalfBracket</string>
    <string>bottomrightHalfBracket</string>
    <string>tripledagger</string>
    <string>refasc</string>
    <string>refdesc</string>
    <string>refuc</string>
    <string>refbox</string>
    <string>_blackCircledComp</string>
    <string>_circledComp</string>
  </array>
  <key>public.postscriptNames</key>
  <dict>
    <key>Delta</key>
    <string>uni0394</string>
    <key>blackFourPointedStar</key>
    <string>uni2726</string>
    <key>blackstar</key>
    <string>uni2605</string>
    <key>bottomLeftCorner</key>
    <string>uni231E</string>
    <key>bottomRightCorner</key>
    <string>uni231F</string>
    <key>bottomleftHalfBracket</key>
    <string>uni2E24</string>
    <key>bottomrightHalfBracket</key>
    <string>uni2E25</string>
    <key>eightPointedBlackStar</key>
    <string>uni2734</string>
    <key>eightblackcircle</key>
    <string>uni277D</string>
    <key>eightcircle</key>
    <string>uni2467</string>
    <key>eighteenblackcircle</key>
    <string>uni24F2</string>
    <key>eighteencircle</key>
    <string>uni2471</string>
    <key>elevenblackcircle</key>
    <string>uni24EB</string>
    <key>elevencircle</key>
    <string>uni246A</string>
    <key>fifteenblackcircle</key>
    <string>uni24EF</string>
    <key>fifteencircle</key>
    <string>uni246E</string>
    <key>fiveblackcircle</key>
    <string>uni277A</string>
    <key>fivecircle</key>
    <string>uni2464</string>
    <key>fourBalloonSpokedAsterisk</key>
    <string>uni2723</string>
    <key>fourblackcircle</key>
    <string>uni2779</string>
    <key>fourcircle</key>
    <string>uni2463</string>
    <key>fourteenblackcircle</key>
    <string>uni24EE</string>
    <key>fourteencircle</key>
    <string>uni246D</string>
    <key>fractioncircle</key>
    <string>uni2298</string>
    <key>heavyEightPointedRectilinearBlackStar</key>
    <string>uni2738</string>
    <key>heavyFourBalloonSpokedAsterisk</key>
    <string>uni2724</string>
    <key>leftFloor</key>
    <string>uni230A</string>
    <key>minuscircle</key>
    <string>uni2296</string>
    <key>multiplycircle</key>
    <string>circlemultiply</string>
    <key>nabla</key>
    <string>gradient</string>
    <key>nineblackcircle</key>
    <string>uni277E</string>
    <key>ninecircle</key>
    <string>uni2468</string>
    <key>nineteenblackcircle</key>
    <string>uni24F3</string>
    <key>nineteencircle</key>
    <string>uni2472</string>
    <key>oneblackcircle</key>
    <string>uni2776</string>
    <key>onecircle</key>
    <string>uni2460</string>
    <key>pinwheelStar</key>
    <string>uni272F</string>
    <key>pluscircle</key>
    <string>circleplus</string>
    <key>refasc</key>
    <string>uniE0B1</string>
    <key>refbox</key>
    <string>uniE0B4</string>
    <key>refdesc</key>
    <string>uniE0B2</string>
    <key>referencemark</key>
    <string>uni203B</string>
    <key>refuc</key>
    <string>uniE0B3</string>
    <key>rightFloor</key>
    <string>uni230B</string>
    <key>sevenblackcircle</key>
    <string>uni277C</string>
    <key>sevencircle</key>
    <string>uni2466</string>
    <key>seventeenblackcircle</key>
    <string>uni24F1</string>
    <key>seventeencircle</key>
    <string>uni2470</string>
    <key>sixPointedBlackStar</key>
    <string>uni2736</string>
    <key>sixblackcircle</key>
    <string>uni277B</string>
    <key>sixcircle</key>
    <string>uni2465</string>
    <key>sixteenblackcircle</key>
    <string>uni24F0</string>
    <key>sixteencircle</key>
    <string>uni246F</string>
    <key>teardropSpokedAsterisk</key>
    <string>uni273B</string>
    <key>tenblackcircle</key>
    <string>uni277F</string>
    <key>tencircle</key>
    <string>uni2469</string>
    <key>thirteenblackcircle</key>
    <string>uni24ED</string>
    <key>thirteencircle</key>
    <string>uni246C</string>
    <key>threeblackcircle</key>
    <string>uni2778</string>
    <key>threecircle</key>
    <string>uni2462</string>
    <key>triangularbullet</key>
    <string>uni2023</string>
    <key>tripledagger</key>
    <string>uni2E4B</string>
    <key>twelveblackcircle</key>
    <string>uni24EC</string>
    <key>twelvecircle</key>
    <string>uni246B</string>
    <key>twentyblackcircle</key>
    <string>uni24F4</string>
    <key>twentycircle</key>
    <string>uni2473</string>
    <key>twoblackcircle</key>
    <string>uni2777</string>
    <key>twocircle</key>
    <string>uni2461</string>
    <key>whiteFourPointedStar</key>
    <string>uni2727</string>
    <key>whiteXBlackDiamond</key>
    <string>uni2756</string>
    <key>whitestar</key>
    <string>uni2606</string>
    <key>whitestarcircle</key>
    <string>uni272A</string>
    <key>zeroblackcircle</key>
    <string>uni24FF</string>
  </dict>
</dict>
</plist>
